/*==============================
	Card
==============================*/

  
.item{
    margin: 10px;
  }
  

.card {
    margin-bottom: 30px;
    background-color: $bgc_body;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
    border-top: 1px solid rgba(255,255,255,0.05);
  
  }
  .card__cover {
    position: relative;
    box-shadow: none;
    transition: 0.4s ease;
    cursor: pointer;
    margin: 0.8em;
    
  }
  .card__cover img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
  
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.3);
  }


  .card__cover:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    background-image: $pink_gradient;
    z-index: 1;
    opacity: 0;
    transition: 0.4s ease;
   
  }
  
  .card__cover:hover {
    box-shadow: 0 0 20px 0 $pink_shadow;
    cursor: pointer;
  }
  
  .card__cover:hover:before {
    opacity: 0.85;
    cursor: pointer;
  }
  
  .card__cover:hover .card__play {
    opacity: 1;
    cursor: pointer;
    
  }

  
  
  .card__play {
    position: absolute;
    text-align: left;
    top: 4%;
    z-index: 2;
    font-size: 2.6vw;
    color: $white;
    font-family: $Font-Family;
    margin: 0.7em;
    transition: 0.4s ease;
    opacity: 0;
    cursor: pointer;
    
  }
  
  .block-ellipsis {
    display: block;
    max-width: 90%;
    height: 82%;
    line-height: 1.3;
    box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .card__play:hover {
    color: $white;
    cursor: pointer;
  }
  
  .card__title {
    font-size: 0.8em;
    width: 90%;
    font-weight: 400;
    padding-bottom: 0.5em;
    font-family: $Font-Family;
    color: $font_color;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    cursor: pointer;
  }
  .card__title a {
    color: $font_color;
  }
  .card__title a:hover {
    color: $font_color;
  }
  .card__category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 0.5em;
    font-family: $Font-Family;
    flex-wrap: wrap;
    color: $pink;
    font-size: 0.8em;
  }
 
  .card__rate {
    font-size: 0.8em;
    font-weight: 500;
    color: $font_color;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    padding-bottom: 1em;
    font-family: $Font-Family;
  }

  .card__rate--star {
    color: $pink;
  }


  .card__description {
    display: block;
    margin-top: 15px;
    font-family: $Roboto;
    font-size: 1em;
    line-height: 25px;
    color: rgba(255,255,255,0.7);
    letter-spacing: 0.2px;
  }

/* 
==========================================================================

/* 48em = 768px @ 16px font
==========================================================================
*/

@media screen and (min-width: 768px) {
  .card__play {
    font-size: 2vw;

  }
}

 
 
  /* 
========================================================================== */
/* Header
/* 64em = 1024px @ 16px font
==========================================================================
*/

@media screen and (min-width: 1024px) {
  .card--content {
    font-family: $Roboto;
    font-size: 1.2em;
  }
  .card__description--details{
    padding-right: 1em;
    margin-right: 1em;
  }
  .card__play {
    font-size: 1.3vw;
    color: $white;
    font-family: $Font-Family;
  }

  .card__title {
    font-size: 1.4em;
  }
  .card__category {
    font-size: 1.3em;
  }

  .card__description {

    font-family: $Font-Family;
    font-size: 1.25em;

    color: $font_color;
    letter-spacing: 0.3px;
  }

  .card__rate {
    font-size: 1.3em;

  }

}
  
  
